.wrapper {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
}

.container h4 {
    margin: 20px 0;
}

.block {
    margin: 0 100px;
}

.block-form {
    margin: 0 260px;
    padding: 0 20px;
}
